a {
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
}
h2 {
font-weight: 300;
font-style: normal;
font-family: 'Open Sans', sans-serif;
}
body, html {
margin: 0;
overflow: hidden;
color: #566472;
}
.title{
font-family: 'Hind', sans-serif;
color: #2d3e4f;
font-weight: 400;
bottom: 0;
}

#left {
height:100%;
position: absolute;
top: 0px;
bottom: 0;
width: 90%;
overflow-y: scroll; 
}
.col-md-6-right {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
p{
    font-family: 'Open Sans', sans-serif;
}