a {
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
}
body, html {
    margin: 0;
    overflow: hidden;
    color: #566472;
}
h2 {
font-weight: 300;
font-style: normal;
font-family: 'Open Sans', sans-serif;
}
.title{
font-family: 'Hind', sans-serif;
color: #2d3e4f;
font-weight: 400;
bottom: 0;
}
p{
    font-family: 'Open Sans', sans-serif;
}
#left {
height:100%;
position: absolute;
top: 0px;
bottom: 0;
width: 100%;
overflow-y: scroll; 
}

/* Selection */
::selection {
    background: #FFE74C;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #2d3e4f; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
